@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* Scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #065e00 black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #0fa304;
  border-radius: 1rem;
  border: 3px solid black;
}

body {
  background-image: url("./images/background site.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.header {
  display: flex;
  justify-content: start;
  align-items: center;
  /*position: fixed;
  margin-top: -100px;*/
}

.logo {
  width: 6rem;
  height: 6rem;
}

.logo img {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 6rem;
  cursor: pointer;
  transition: 0.3s;
}

.logo img:hover {
  transform: scale(1.1 );
  filter: drop-shadow(0 0 1rem rgb(0, 255, 195));
}

.nav {
  display: flex;
  justify-content: end;
}

.nav h1 {
  color: white;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.nav h1:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 38px #75d45e, 0 0 73px #75d45e, 0 0 80px #75d45e,
    0 0 94px #75d45e, 0 0 140px #75d45e;
}

#inicio {
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 38px #75d45e, 0 0 73px #75d45e, 0 0 80px #75d45e,
    0 0 94px #75d45e, 0 0 140px #75d45e;
}

/*.welcome {
  margin-top: 100px;
}*/

.welcome img {
  margin-top: 100px;
  margin-left: 50px;
  height: 250px;
  filter: drop-shadow(0 0 0.6rem rgb(0, 255, 195));
}

.textwelcome h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  margin-top: -150px;
  margin-left: 120px;
  position: relative;
}

.scanner h1 {
  color: transparent;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  margin-left: 430px;
  margin-top: -65px;
}

.scanner h1::before {
  content: "HexaDev";
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #065e00;
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  color: #065e00;
  animation: load91371 5s linear infinite;
}

@keyframes load91371 {
  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #065e00;
  }

  60%,
  80% {
    width: 28%;
  }
}

/* From uiverse.io by @mrhyddenn */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  margin-left: 80px;
  margin-top: 150px;
}

.shadow__btn {
  background: linear-gradient(to bottom, #04989e, #75d45e);
  box-shadow: 0 0 25px #065e00;
  border: 1px solid #0e4d09;
  transition: 0.3s;
}

.shadow__btn:hover {
  box-shadow: 0 0 5px #065e00, 0 0 25px #065e00, 0 0 50px #065e00,
    0 0 100px #065e00;
  transform: scale(1.1);
}
/* From uiverse.io by @Codewithvinay */
.box {
  position: relative;
  width: 1120px;
  height: 200px;
  display: flex;
  justify-content: right;
  align-items: right;
  transition: 0.5s;
  z-index: 1;
  top: 20;
  margin-top: -400px;
  margin-left: 160px;
  transition: 0.3s;
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before {
  top: -40px;
  left: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box span:after {
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box .content {
  position: relative;
  width: 450px;
  height: 350px;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.box .content img {
  height: 300px;
  filter: drop-shadow(0 0 1rem #0f7907);
  transition: 0.3s;
}

.box .content h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.box .content:hover{
  transform: scale(1.1);
}

.box .content img:hover{
  filter: drop-shadow(0 0 2rem #0dca00);
}

.sobre {

  background-color: #00ffb3;
  background-image: linear-gradient(180deg, #00ffb3 0%, #5eac79 36%, #0b8353 61%);
  height: 40rem;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* From uiverse.io by @G4b413l */
.card {
  width: 35rem;
  height: 20rem;
  transition: all 0.2s;
  position: relative;
  top: 17%;
  right: 27rem;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#00ffe5, #0eff4e);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-12px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(15px);
  }
}
.sobre h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  width: 34%;
  position: relative;
  right: 25rem;
  top: -20%;
  margin-left: 20px;
  margin-bottom: 30px;
  
}
.custom-shape-divider-top-1664070044 {
  position: absolute;
  top: 40.5rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1664070044 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
  opacity: 85%;
}

.custom-shape-divider-top-1664070044 .shape-fill {
  fill: #FFFFFF;
}
