@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Wancho&display=swap');
* {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* Scrollbar */
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #065e00 black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: #0fa304;
  border-radius: 1rem;
  border: 3px solid black;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./images/bg site.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: 'Noto Sans Wancho', sans-serif;
  background-color: rgb(0, 0, 0);
  position: fixed;
  z-index: 2;
  box-shadow: 0px 2px 4px #005c14;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.logo img {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 4rem;
  cursor: pointer;
  transition: 0.3s;
}

.logo img:hover {
  transform: scale(1.1 );
  filter: drop-shadow(0 0 1rem rgb(0, 255, 195));
}

nav ul{
  display: flex;
  justify-content: end;
}

a{
  text-decoration: none;
  color: white;
}

nav h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 25px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  margin-top: 0.5rem;
}

nav h1:hover {
  transform: scale(1.1);
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 38px #75d45e, 0 0 73px #75d45e, 0 0 80px #75d45e,
    0 0 94px #75d45e, 0 0 140px #75d45e;
}

.inicio {
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 20px;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 38px #75d45e, 0 0 73px #75d45e, 0 0 80px #75d45e,
    0 0 94px #75d45e, 0 0 140px #75d45e;
}

#inicio {
  margin-bottom: 200px;
  height: 365px;

}

#inicio img {
  margin-top: 100px;
  margin-left: 100px;
  height: 250px;
  filter: drop-shadow(0 0 0.6rem rgb(0, 163, 125));
  top: 5rem;
  position: relative;
}

.textwelcome h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin-top: -150px;
  margin-left: 140px;
  position: relative;
  top: 5rem;
}

.scanner h1 {
  color: transparent;
  font-size: 45px;
  position: relative;
  overflow: hidden;
  margin-left: 400px;
  margin-top: -50px;
  top: 5rem;
}

.scanner h1::before {
  content: "HexaDev";
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 4px solid #065e00;
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  color: #065e00;
  animation: load91371 5s linear infinite;
}

@keyframes load91371 {
  0%,
  10%,
  100% {
    width: 0;
  }

  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent;
  }

  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: #065e00;
  }

  60%,
  80% {
    width: 20%;
  }
}

/* From uiverse.io by @Codewithvinay */
.box {
  position: relative;
  width: 1120px;
  height: 200px;
  display: flex;
  justify-content: right;
  align-items: right;
  transition: 0.5s;
  z-index: 1;
  top: 20;
  margin-top: -400px;
  margin-left: 160px;
  transition: 0.3s;
}

.box span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before {
  top: -40px;
  left: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box span:after {
  bottom: -40px;
  right: 40px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.box .content {
  position: relative;
  width: 25rem;
  height: 18rem;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  top: -1rem;
}
.box .content img {
  height: 15rem;
  filter: drop-shadow(0 0 1rem #0f7907);
  transition: 0.3s;
}

.box .content h2 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.box .content:hover{
  transform: scale(1.1);
}

.box .content:hover{
  filter: drop-shadow(0 0 2rem #0dca00);
}

.scroll {
  height: 1920px;
  background: linear-gradient( #000000 2%, #014600 27.16%, #005c14 50.35%, #00833b 74.98%, #00914b 97.19%);
}

.waves1 {
  top: -6rem;
  width: 100%;
  height: 200%;
  opacity: 30%;
  position: relative;
}

.waves2 {
  width: 100%;
  top: -39rem;
  position: relative;
  opacity: 30%;
}

.waves3 {
  width: 100%;
  position: relative;
  opacity: 30%;
}

#sobre {
  padding-top: 6rem;
  margin-top: 295px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.logosobre {
  left: -25rem;
  top: -9em;
  filter: drop-shadow(0 0 0.4rem rgb(13, 159, 125));
  position: relative;
}

#sobre h1{
  left: 12rem;
  top: -35rem;
  color: white;
  font-family: 'Noto Sans Wancho', sans-serif;
  font-size: 45px;
  position: relative;
  filter: drop-shadow(0 0 0.1rem #ffffff);
}

span.hexadev {
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.nuture {
  background-image: linear-gradient(to bottom, #04989e, #75d45e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sobre p {
  width: 700px;
  left: 12rem;
  top: -34rem;
  color: white;
  font-family: 'Noto Sans Wancho', sans-serif;
  font-size: 35px;
  position: relative;
  text-align:center;
  
}

/* From uiverse.io by @vaitefude */
.card {
  width: 35rem;
  height: 20rem;
  transition: all 0.2s;
  position: relative;
  top: 17%;
  right: 27rem;
}

.card-inner {
  width: inherit;
  height: inherit;
  background: rgba(255,255,255,.05);
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.04) rotate(1deg);
}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(#00ffe5, #0eff4e);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 1.5s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

@keyframes move-up6 {
  to {
    transform: translateY(-12px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(15px);
  }
}

.custom-shape-divider-top-1664070044 {
  position: absolute;
  top: 40.9rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1664070044 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 72px;
  opacity: 85%;
  top: 0.6rem;
}

button{
  background-color: transparent;
	border: 2px solid #0f7907;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
  margin-right: 25px;
}

button:hover{
	background-color:#0f7907;
  border: 2px solid transparent;
	cursor: pointer;
  filter: drop-shadow(0 0 1rem #0f7907);
}

#devs {
  padding-top: 6rem;
  margin-top: -50rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}